
/*** NAVBAR ***/

#partecipante {
    cursor: pointer;
}


/*** MESSAGGI ***/

#messaggi {
    padding-top: 50px;
    padding-bottom: 65px;
}

.messaggio {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.testo {
    white-space: pre-wrap;  
    word-wrap: break-word;
}

.immagine {
    max-width: 100%;
    cursor: pointer;
}

#visualizza_immagine {
    padding-top: 20vh;
}

#galleria_immagine {
    padding: 0px;
    width: 100%;
    max-width: 100%;
}


/*** SCRIVI ***/

#scrivi {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

#testo {
    height: 50px;
    border-bottom: 0px solid;
}

#invia_messaggio, #invia_immagine {
    width: 100%;
    padding-top: 14px;
}

#immagine {
    display: none;
}
