
/*** MESSAGGI ***/

#messaggi {
    padding-top: 50px;
    padding-bottom: 65px;
}

.messaggio {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.testo {
    white-space: pre-wrap;  
    word-wrap: break-word;
}

/*** SCRIVI ***/

#scrivi {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

#testo {
    height: 50px;
}

#invia_messaggio {
    width: 100%;
    padding-top: 14px;
}
