
/*** FOTO PROFILO ***/

#foto_profilo {
    max-height: 50px;
}


/*** ICONA IMMAGINE ***/

#icona_immagine {
    font-size: 15px;
}


/*** ELIMINA CONVERSAZIONE ***/

#elimina_conversazione {
    padding-top: 30vh;
}

#cestino {
    color: #CCCCCC;
    cursor: pointer;
}


/*** SCRIVI ***/

#scrivi {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
}
