
/*** SCRIVI ***/

#scrivi {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    padding-top: 18px;
    padding-left: 18px;
    cursor: pointer;
}


/*** ELIMINA CONVERSAZIONE ***/

#elimina_conversazione {
    padding-top: 30vh;
}

#cestino {
    cursor: pointer;
}
