
/*** HEADER ***/

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#header h1 {
    margin: 2px 0px 0px 4px;
}

#header i {
    cursor: pointer;
}


/*** SIDENAV ***/

#chiudi_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 200px;
    display: none;
}

#sidenav {
    margin-top: 54px;
    display: none;
}

#sidenav i {
    font-size: 20px;
}

#informazioni {
    width: 200px;
}


/*** PRIMO ELEMENTO ***/

#primo_elemento {
    padding-top: 54px;
}


/*** DAHBOARD ***/

#dashboard {
    display: none;
}
