
/*** HEADER ***/

#header {
    position: fixed;
    top: 0px;
    width: 100%;
}

#header h1 {
    margin: 2px 0px 0px 4px;
}

#header i {
    cursor: pointer;
}


/*** SIDENAV ***/

#sidenav {
    margin-top: 54px;
    display: none;
}

#sidenav i {
    font-size: 20px;
}

#informazioni {
    width: 200px;
}


/*** PRIMO ELEMENTO ***/

#primo_elemento {
    margin-top: 54px;
}
