
/*** FOTO PROFILO ***/

#foto_profilo {
    cursor: pointer;
}

#visualizza_foto {
    padding-top: 20vh;
}

#galleria_foto {
    padding: 0px;
    width: 100%;
    max-width: 100%;
}


/*** STATO ***/

#stato {
    resize: none;
    border-bottom: 0px solid;
}


/*** MODIFICA PROFILO ***/

#modifica_profilo, #conferma_modifiche {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
}

#immagine {
    display: none;
}


/*** CARICAMENTO ***/

#caricamento {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

#caricamento i {
    font-size: 12px;
}
