
/*** FOTO PROFILO ***/

#foto_profilo {
    cursor: pointer;
}

#visualizza_foto {
    padding-top: 20vh;
}

#galleria_foto {
    padding: 0px;
    width: 100%;
    max-width: 100%;
}


/*** MODIFICA PROFILO ***/

#modifica_profilo, #conferma_modifiche {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    padding-top: 18px;
    padding-left: 18px;
    cursor: pointer;
}

#immagine {
    display: none;
}


/*** CARICAMENTO ***/

#caricamento {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

#caricamento i {
    font-size: 12px;
}
