
/*** FONTS ***/

p, h1, button {
    font-family: 'Roboto', sans-serif;
}

i {
    vertical-align: middle;
}


/*** LINKS ***/

a:link, a:visited {
    text-decoration: none;
    color: #2196F3;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}

.conversazione:link, .conversazione:visited, .conversazione:hover, .conversazione:active {
    text-decoration: none;
    color: #757575;
}


/*** IMMAGINI ***/

img {
    max-width: 90%;
    padding: 10%;
}


/*** OMBRA **/

.ombra {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}


/*** INPUTS ***/

input:focus {
    outline: none;
}

input::placeholder {
    opacity: 1;
    color: #989898;
}


/*** BOTTONI ***/

.w3-btn {
    border-radius: 3px;
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.2);
}


/*** CARICAMENTO ***/

.caricamento {
    display: none;
}


/*** SPAZIATORI ***/

.vuoto {
    height: 70vh;
}

hr {
    margin: 0px;
}


/*** MODALS ***/

.w3-modal-content {
    width: 100%;
}

.sfondo_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#errore, #successo {
    padding-top: 30vh;
}
