
/*** FONTS ***/

p, h1, button {
    font-family: 'Roboto', sans-serif;
}

i {
    vertical-align: middle;
}


/*** LINKS ***/

a:link, a:visited {
    text-decoration: none;
    color: #2196F3;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}

.conversazione:link, .conversazione:visited, .conversazione:hover, .conversazione:active {
    text-decoration: none;
    color: #757575;
}


/*** IMAGES ***/

img {
    max-width: 90%;
    padding: 10%;
}


/*** OTHERS **/

.ombra {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

.caricamento {
    display: none;
}

.vuoto {
    height: 80vh;
}

hr {
    margin: 0px;
}

.w3-modal-content {
    width: 100%;
}

.sfondo_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#errore {
    padding-top: 30vh;
}
