
/*** FONTS ***/

p, h1, button {
    font-family: 'Roboto', sans-serif;
}


/*** LINKS ***/

a:link, a:visited {
    text-decoration: none;
    color: #2196F3;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}

.conversazione:link, .conversazione:visited, .conversazione:hover, .conversazione:active {
    text-decoration: none;
    color: #757575;
}


/*** IMAGES ***/

img {
    max-width: 90%;
    padding: 10%;
}


/*** OTHERS **/

.caricamento {
    display: none;
}

hr {
    margin: 0px;
}

#elimina_conversazione {
    padding-top: 50%;
}
